@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende <a href="https://docs.microsoft.com/aspnet/core">como crear Web apps con ASP.NET Core</a>.</p>
</div>
